/* styles.css */
.main-buttons {
    -fx-alignment: center;
    -fx-font-size: 8px;
    -fx-padding: 40 0 0 0;
}


.slider-thumb {
    /* -fx-background-radius: 10px; /* Set the radius to make it round */
    /*-fx-pref-height: 20px; /* Set the height of the thumb */
    /*-fx-pref-width: 20px; /* Set the width of the thumb */
} /* Leave adjusted out gonna play around with later -- BK */

.slider-thumb .thumb {
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#mainHbox {
    -fx-padding: 0 55 0 10;
}

#signoutHbox {
    -fx-padding: 0 0 0 30;
}

#signoutButton {
    -fx-font-size: 8px;
}