/* styles.css */
.main-buttons {
    -fx-alignment: center;
    -fx-font-size: 10px;
    -fx-padding: 40 0 0 0;
}


.slider .thumb {
    /* -fx-background-radius: 10px; /* Set the radius to make it round */
    -fx-pref-height: 15px; /* Set the height of the thumb */
    -fx-pref-width: 15px; /* Set the width of the thumb */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);

}

.slider .thumb {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}
.slider-thumb .track {
    -fx-background-color: white;
}

#mainHbox {
    -fx-padding: 0 55 0 10;
}

#signoutHbox {
    -fx-padding: 0 0 0 30;
}

#signoutButton {
    -fx-font-size: 8px;
}